.Splash {
  margin: 0 0 0 50px;
}

.Header h1 {
  color: #72A1E5;
  text-shadow: 10px 10px 5px #999999;
}

.Header h2 {
  color:  #2E382E;
  text-shadow: 5px 5px 3px #999999;
}

.Body {
  margin: 0 0 0 50px;
  text-align: center;
}