<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
    </h4>
    <small>
      <% if item.due.nil? %>
        Added <%= time_ago_in_words(item.created_at) %> ago 
      <% else %>
        Due at <%= item.due %>
      <% end %>
    </small>
  </div>
</div>